{% extends "base.html" %}

{% block title %}shoshin{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="/static/css/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <header class="profile-section">
        <img src="/static/images/pfp/pfp.PNG" alt="pfp" class="profile-image">
        <div class="profile-info">
            <h1 class="typing">ken_</h1>
            <p class="subtitle">i/o psychologist · ai developer</p>
            <nav class="profile-links">
                <a href="/archive.html" class="profile-link">blog</a>
                <!-- <a href="https://x.com/local0ptimist" target="_blank" rel="noopener noreferrer" class="profile-link">x</a> -->
                <a href="https://github.com/k3nnethfrancis" target="_blank" rel="noopener noreferrer" class="profile-link">github</a>
                <a href="https://agency42.co" target="_blank" rel="noopener noreferrer" class="profile-link">agency42</a>
                <a href="/artifacts.html" class="profile-link">artifacts</a>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="about">
            <h2></h2>
            <p>I'm an industrial psychologist building a full-stack <a href="https://agency42.co" target="_blank" rel="noopener noreferrer" class="profile-link">AI agency</a>. We help companies create AI solutions that solve real business problems. Previously, I led operations analytics at SpaceX.</p>
            <p>Throughout my career, I've held an ever-growing list of side quests. I've been lucky explore them alongside amazing creators, scientists, engineers, and friends.</p>
            <p>This blog serves as a repository of ideas and lessons I've learned along the way.</p>
             <p><em>Shoshin</em> (初心) is the zen buddhists term for beginner's mind. It is my reminder to embody humility and curiosity in everything I do.</p>
        </section>
        
        <section class="essays">
            <h2>Featured Posts</h2>
            <ul class="post-list">
                {% for post in featured_posts %}
                <li class="post-item">
                    <span class="post-date">{{ post.date }}</span>
                    <a href="/{{ post.filename }}.html" class="post-title">{{ post.short_title }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/typing-effect.js"></script>
{% endblock %}
